@charset "utf-8";
/* CSS Document */
head {
    font-family: Arial, Bold
}

body {
    background-image: url("images.opt/Background%20copy.jpg");
    background-size: cover;
    font-family: Arial, Bold; 
    }

a { 
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    margin: 0;
    padding: 25px;
    font-family: Arial;
}

h2 {
    color: white;
    font-size: 20px;
    margin: -20px;
}

h3 {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-family: Arial, normal;
    font-size: 15px;
    text-align: left;
}

h5 {
    float: left;
    margin-left: 638px;
    margin-top: 5px;
}

blog {
    float: left;
    background-color: midnightblue;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 92.5%
}

article h3 {
    float: left;
    width: 95%;
    height: 200px;
    background: gray;
    padding: 20px;
    margin: auto;
    margin-top: -20px;
}

article h4 {
    float: left;
    width: 95%;
    height: 10px;
    background: skyblue;
    padding: 20px;
    margin-top: 0px;
    font-size: 10px;
}

#container {
    background-color: red=100, green=196, blue=244;
    width: 980px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.content {
    padding: 0;
}

.topnav {
    width: 100%;
    line-height: 35px;
    float: left;
    overflow: hidden;
    justify-content:center;
}

.topnav a {
    display: block; 
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.topnav ul{
    float: left;
}

.topnav ul li {
    float: left;
    list-style: none;
    position: relative;
}

#nav ul li a {
    display: block;
    font-family: arial, bold;
    color: darkorange;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    background-color: darkorange;
    padding: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 4px 4px;
}

.topnav ul li:hover ul {
    display: block;
    position: absolute;
    padding: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 4px 4px;
}

.topnav ul li ul li {
    padding: 8px 14px;
}

.topnav ul li ul li a{
    border-radius: 4px;
}

.topnav ul li ul li a:hover{
    background-color: orange;
}

.section-inner {
    place-items: center;
    padding-top: 150px; 
}

.slider_image {
    width: 50%;
    flex 50%;
    display:block;
    text-align: left;
}

.flex-container1 {
    place-content:center;
    display:block;
    clear: both;
    padding-bottom: 40px;
}

.flex-container1 > div {
    margin: 10px;
    text-align: center;
    border-bottom-color: red;
    line-height: 3px;
    background-color: darkgreen;
    display: flex;
    align-content: center;
}

.flex-conatiner2 > div {
    margin: 30px;
    width: 100%;
    padding: 50px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
}

.flex-container3 {
    place-content:center;
    display:block;
    clear: both;
    padding-top: 20px;
    padding-bottom: 40px;
}

.form {
    display: block;
    background-color: forestgreen;
}

.footer {
    display: block;
    text-align: center;
    padding: 30px;
        
}




